body {
	display:flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	background:url("12.webp");
	background-position: center;
	background-size: cover;
	color: white;
	position: relative;
}

/*.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}*/
h1  {
	font-family: sans-serif;
	font-weight: lighter;
	font-size: 50px;
}
h2 {

	font-family: sans-serif;
	position: relative;
	font-weight: lighter;
	font-size: 30px;
}
h3 {
	color: white;
	font-family: sans-serif;
	position: relative;
	font-weight: lighter;
	font-size: 20px;

}
.countdown{
	display: flex;
	justify-content: center;
	align-items: center;
}

.time-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-family: sans-serif;
	padding: 0 30px;
	border-right: 1px solid #fff;
	user-select: none
}
.time-section:last-child{
	border: none;
}
 .count {
 	font-size: 50px;
 }
 .units {
 	font-size: 15px;
 }
